.mainbtn {text-align:center;}

.well {border-right: 1px solid; padding-left: 20px;}

.container {padding-left:30px;}
.text {padding-left:30px; padding-right:30px; padding-top:20px; padding-bottom:40px; font:Helvetica; font-size:12px;text-align:center;}
.li {text-align: left;}

.col-md-3 > a:hover { color: white; }
.col-md-3 > a {color: #0477BF; text-align:left; background-color:#B9D989;}

.col-md-4 > p > b  {font-size:14px; text-align:justify;}
.col-md-4 > img {margin-left:0px;padding: 0;} 
.col-md-4 > ul > li {text-align:left;}
.col-md-4 > p {text-align:left;}
.well {margin-bottom:0px;}


.col-md-6 > ul > li {text-align: left;}
.col-md-6 > img {padding-left: 10px;}
.col-md-6 {padding: 0px}
.col-md-6 > li {margin: 0px; text-align: left;}
.col-md-6 > p {text-align: left;padding-left: 10px; padding-right: 10px;}

.col-md-12 {padding-top: 20px; font-size: 12px; background-color:#B9D989; border-top:4px; border-top-color:white;}

.text > row > col-md-6 > li {text-align: left;}
.links {padding-left: 20px;}
.chart {padding-left: 150px}
.statistics {padding-left: 15px; text-align: left;padding-right: 20px;}
.facts {padding-left: 10px; text-align: left;margin-right: 0px;}
.sources {text-align: left;}
.recycle {padding-left: 600px;padding-bottom: 50px;}
.logo{padding-top:20px;padding-left:30px;}
.img {margin-left: auto;}
.map {padding-left: 100px;}

.carousel-caption {padding-top:60px;}

.searchbox_demo {padding-top:30px; padding-bottom: 40px; padding-left:20px;}
.searchbox_demo > p {font-size: 12px;}


/* NAVIGATION BAR*/
.lowernav {border: 0px;}
.navbar-nav {margin-left: 20%; margin-right:20%;}
.navbar .nav > li > a {background-color: #B9D989; color: white; max-width: 1455px; font-size: 14px;}
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover { color: #0477BF; } 
.navbar-default {background-color:#B9D989;width:100%;border: 0px;}
.nav > ul {text-align:center; display: inline-block; list-style-type: none;}

.bs-docs-footer {padding-bottom: 20px; color:#0477BF; text-align: center; border-top: 1px solid #e5e5e5; background-color:#B9D989; font-size:
12px;}

